#!/usr/bin/make -f
#export DH_VERBOSE=1

INSTALL := install -o root -g root -m 755

%:
	dh $@ 

override_dh_auto_install:
	$(INSTALL) hydra $(CURDIR)/debian/hydra/usr/bin
	$(INSTALL) pw-inspector $(CURDIR)/debian/hydra/usr/bin
	$(INSTALL) xhydra $(CURDIR)/debian/hydra-gtk/usr/bin
	install -o root -g root -m 644 -D po/ru.gmo \
	$(CURDIR)/debian/hydra/usr/share/locale/ru/LC_MESSAGES/hydra.mo
	install -o root -g root -m 644 -D hydra-gtk/po/ru.gmo \
	$(CURDIR)/debian/hydra-gtk/usr/share/locale/ru/LC_MESSAGES/xhydra.mo
